<style>
    body {
        background-color: rgb(65, 65, 65);
    }
    
    h1 {
        text-align: center;
        color: white;
    }
    
    h2 {
        text-align: center;
        color: white;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Class 4</title>
</head>
<body>
    <h1>Welcome to Class 4's discussion page!</h1>
    <h2>Feel free to ask any questions about the class here: </h2>
    <center><textarea name="question" id="question" cols="30" rows="10"></textarea></center>
    <center><button type="submit">Submit</button></center>

</body>
</html> 