<!DOCTYPE html>
<html lang="en">
<head>
    <title>General Discussion</title>
</head>
<body>
    <h1>General Discussion Board</h1>

    <form method="POST" action="/discussion-page">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="question">Ask a question:</label>
        <input type="text" id="question" name="question"><br><br>
        <button type="submit">Submit</button>
    </form>

    <% if (questions && questions.length > 0) { %>
        <h2>Previously Asked Questions:</h2>
        <% questions.forEach(function(question) { %>
            <p><%= question.question %> - asked by <%= firstName && lastName ? firstName + ' ' + lastName : 'anonymous' %></p>
        <% }) %>
    <% } %>
    
</body>
</html>
