<!-- THIS IS THE LOGIN PAGE -->
<style>
    div {
        margin-bottom: 15px;
    }
    label {
        display: inline-block;
        width: 60px;
        text-align: right;
    }
    body {
        background-color: orange;
        color: blue
    }
    button {
        background-color: blue;
        color: white
    }
</style>

<center><h1>FullBoard Login</h1></center>
<form action="/login" method = "POST">
    <div>
        <center><label for="email">Email</label>
        <input type="text" id="email" placeholder="Enter Email" name="email"required></center>
    </div>
    <div>
        <center><label for="password">Password</label>
        <input type="text" id="password" placeholder="Enter Password" name="password"required></center>
    </div>
    <center><button type="submit">Login</button></center>
</form>
<center><a href="/register">Register</a></center>