<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="main page styling.css">
    <title>Main Page</title>
</head>
<body>
    <h1>FullBoard Discussion Board</h1>
    
    <h2><i>Welcome to FullBoard's Main Page</i></h2>

    <h3><i>Please select the class that you’d like to visit,
        or select the General Discussion Board to view and post
        general questions to everyone!</i></h3>

    <div><h3 style="text-align: center"><a href="discussion page.html">General Discussion Board</a></h3></div>
    <div><h3 style="text-align: center"><a href="class 1.html">Class 1</a></h3></div>
    <div><h3 style="text-align: center"><a href="class 2.html">Class 2</a></h3></div>
    <div><h3 style="text-align: center"><a href="class 3.html">Class 3</a></h3></div>
    <div><h3 style="text-align: center"><a href="class 4.html">Class 4</a></h3></div>
</body>
</html> 